<div class="card">
  <div *ngIf="news.previewImg"><img class="card-img-top" src="{{news.previewImg}}" alt="Card image cap"></div>
  <div *ngIf="news.previewVideo"><div class="card-img-top embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" [src]="news.previewVideo | safe" allowfullscreen></iframe></div></div>
  <div class="card-body">
    <h4 class="card-title">{{news.title}}</h4>
    <p class="card-text">{{news.previewText}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
